<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/style.css">
  <script src="/assets/js/script.js"></script>
  
</head>
<body>
  <div class="top-bar">
    <div class="search-bar">
      <img src="/assets/img/lupa.png" alt="Lupa" class="search-icon">
      <input type="text" class="search-input" placeholder="Buscar...">
      <button class="search-button" onclick="search()">Buscar</button>
    </div>
    <div class="language-buttons">
      <button class="language-button" onclick="changeLanguage('EN')">EN</button>
      <button class="language-button" onclick="changeLanguage('ES')">ES</button>
    </div>
  </div>
  <!-- Botones de enlace a páginas externas -->
  <div class="external-buttons">
    <a href="URL_de_la_pagina_1"><img src="/assets/img/botonUco.png" alt="Botón 1"></a>
    <a href="URL_de_la_pagina_2"><img src="/assets/img/botonEuropa.png" alt="Botón 2"></a>
  </div>
  <main>
    {{ content }}
  </main>

  <div class="container">
    <div id="results">
      <!-- Aquí se mostrarán los resultados de la búsqueda -->
    </div>
  </div>

  <!-- Botones de enlace a páginas externas -->
  
</body>
</html>



